/*

Theme Name: Amanda Karoline
Theme URI: http://amandakaroline.com.br
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amandakaroline
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Rubik', sans-serif;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Open Sans', sans-serif;

*/

:root{
  --amarelo: #fbc040;
  --cinza-texto: #6b6b6b;
  --preto-titulo: #1c2f31;
}

*{
  margin: 0;
  padding: 0;
}

/* BODY */
  body{
    background-image: url('../img/background-topo.png');
    background-repeat: no-repeat;
    background-position-x: -208px;
    font-family: 'Open Sans', 'sans-serif';
  }

/* TOPO */
  .topo{
    padding-top: 85px;
  }
    .topo a{
      display: block;
      max-width: 184px;
      width: 100%;
    }
      .topo a img{

      }
  .topo .navbar{
    width: 100%;
    max-width: 517px;
    margin: 9px 0 0 auto;
    position: relative;
  }
    .topo .navbar .navbar-toggle{
      display: inline-block;
      display: none;
      vertical-align: middle;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      top: 0;
      right: 0;
    }
      .topo .navbar .navbar-toggle span{

      }
  .topo .navbar .navbar-collapse{

  }
    .topo .navbar .navbar-collapse .navbar-nav{

    }
      .topo .navbar .navbar-collapse .navbar-nav li{

      }
      .topo .navbar .navbar-collapse .navbar-nav li a{
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 12px;
        font-family: 'Open sans';
        padding: 10px 0px 10px 44px;
        letter-spacing: 1px;
      }   
        .nav>li>a:hover, .nav>li>a:focus{
          background-color: transparent !important;
        }


/*RODAPÉ*/
  .rodape{
    border-top: 1px solid #bbb;
    padding: 120px 0 104px;
  }
    .rodape .logo-footer{
      display: inline-block;
      max-width: 165px;
      padding: 0 0px 74px 5px;
    }
      .rodape .logo-footer img{
        display: block;
        width: 100%;
      }
    .rodape .menu-footer{
      display: inline-block;
      width: 100%;
      max-width: 342px;
      margin: 0 auto;
      padding: 0px 0 0 140px;
    }
      .rodape .menu-footer li{
        list-style: none;
      }
        .rodape .menu-footer li a{
          text-decoration: none;
          color: #111;
          border-bottom: 1px solid rgba(17,17,17,.2);
          font-size: 14px;
          letter-spacing: .2px;
          line-height: 25px;
        }
        .rodape .menu-footer li a:hover{
          border-color: #111;
        }
    .rodape .rede-social{
     display: inline-block;
     margin: 0;
     vertical-align: top;
     padding-top: 8px;
    }
      .rodape .rede-social li{
        list-style: none;
        color: var(--cinza-texto);
        line-height: 25px;
      }
    .rodape .newsletter{

    }
      .rodape .newsletter h3{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 31px;
        letter-spacing: 1px;
        padding: 0 0 37px 0;
        margin: 0;
      }
      .rodape .newsletter input{
        border: 1px solid rgba(0, 0, 0, 0.12);
        width: 100%;
        max-width: 250px;
        padding: 15px 16px;
        margin: 0 5px 0 auto;
      }
      .rodape .newsletter input::placeholder{
        font-size: 15px;
        color: #bbb;
      }
      .rodape .newsletter input:focus{
        border-color: rgba(0, 0, 0, 0.12);
      }
      .rodape .newsletter input[type="submit"]{
        border: none;
        color: #fff;
        background-color: #000;
        text-transform: uppercase;
        font-size: 15px;
        width: 100%;
        max-width: 152px;
        padding: 15px 0 16px;
        margin: 0;
      }
    .rodape .copyright{

    }
      .rodape .copyright p{
        margin: 0;
        padding-top: 146px;
        font-size: 14px;
        color: var(--cinza-texto);
      }
        .rodape .copyright p a{
          text-decoration: none;
          color: #111;
          border-bottom: 1px solid rgba(17,17,17,.2);
        }
        .rodape .copyright p a:hover{
          border-color: #111;
        }


/*COPYRIGHT*/
  .copyright{

  }


/*PG*/
  .pg{

  }
    .pg .texto-topo{
      width: 100%;
      max-width: 490px;
    }
      .pg .texto-topo h1{
       margin: 0;
       font-weight: 800;
       text-transform: uppercase;
       font-size: 45px;
       padding: 97px 0 22px;
       letter-spacing: 2.5px;
       line-height: 58px;
       color: var(--preto-titulo);
      }
      .pg .texto-topo p{
        /*color: var(--cinza-texto);*/
        /*line-height: 25px;*/
        padding: 0 0 34px 0;
      }
      .pg .texto-topo .button{
        text-align: center;
        background-color: var(--amarelo);
        display: inline-block;
      }
        .pg .texto-topo .button a{
          text-decoration: none;
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 3px;
          font-size: 15px;
          padding: 21px 34px 20px;
          display: inline-block;
        }
  .pg .projetos{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    padding-top: 147px;
    display: flex;
    justify-content: space-between;
  }
    .pg .projetos .projeto{
      width: 100%;
      list-style: none;
      max-width: 377px;
    }
      .pg .projetos .projeto a{
        display: block;
        width: 100%;
      }
        .pg .projetos .projeto a figure{

        }
          .pg .projetos .projeto a figure img{
            display: block;
            width: 100%;
          }
      .pg .projetos .projeto h3{
        padding: 35px 0 34px;
      }
      .pg .projetos .projeto p{
        /*color: var(--cinza-texto);*/
        /*line-height: 25px;*/
        /*margin: 0;*/
        padding-bottom: 52px;
      }
      .pg .projetos .projeto a.saiba-mais{
        text-transform: uppercase;
        text-decoration: none;
        color: var(--amarelo);
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.2px;
      }
  .pg form{
    width: 100%;
    max-width: 685px;
    margin: 0 0 0 auto;
    padding: 80px 0;
  }
    .pg form .area-nome{
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
      .pg form .area-nome .first-name{
        width: 100%;
        max-width: 49%;
        display: inline-block;
      }
      .pg form .area-nome .last-name{
        display: inline-block;
        width: 100%;
        max-width: 49%;
      }
        .pg form .area-nome label{
          display: block;
          font-weight: 500;
          color: var(--cinza-texto);
        }
        .pg form .area-nome input{

        }
        .pg form .area-nome span{
          font-size: 12px;
        }
    .pg form label{
      display: block;
      font-weight: 500;
      color: var(--cinza-texto);
    }
    .pg form input{

    }
    .pg form textarea{
      min-height: 100px;
    }
    .pg form input[type="submit"]{
      max-width: 115px;
      border-radius: 0;
      border: none;
      color: #fff;
      background-color: var(--amarelo);
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
    }
    .pg form input, .pg form textarea{
      width: 100%;
      display: block;
      border-radius: 2px;
      border: 1px solid #bbb;
      background-color: #fafafa;
      outline: none;
      padding: 10px 12px;
      -webkit-transition: background .1s ease-in;
      -moz-transition: background .1s ease-in;
      -ms-transition: background .1s ease-in;
      -o-transition: background .1s ease-in;
      transition: background .1s ease-in;
    }
    .pg form input:focus, .pg form textarea:focus{
      background-color: #fff;
    }

.pg .titulo-secundario{
  font-size: 16.8px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}
.pg .texto{
  color: var(--cinza-texto);
  margin: 0;
  line-height: 25px;
}

/*PÁGINA INICIAL*/
  .pg-inicial{

  }
    .pg-inicial .inicial{

    }
      .pg-inicial .inicial .texto-topo{
        width: 100%;
        max-width: 530px  ;
      }
        .pg-inicial .inicial .texto-topo h1{
          /*text-transform: uppercase;
          font-weight: 800;
          font-size: 45px;
          letter-spacing: 2.5px;
          margin: 0;
          padding: 97px 0px 22px;
          line-height: 58px;
          color: var(--preto-titulo);*/
        }
        .pg-inicial .inicial .texto-topo p{
          /*color: var(--cinza-texto);*/
          /*line-height: 25px;*/
          /*margin: 0;*/
          /*padding: 0 0 34px 0;*/
        }
        .pg-inicial .inicial .texto-topo .button{
          /*width: 100%;
          max-width: 183px;
          text-align: center;
          background-color: var(--amarelo);
          padding: 21px 0 20px;*/
        }
          .pg-inicial .inicial .texto-topo .button a{
            /*text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 3px;
            font-size: 15px;*/
          }
      .pg-inicial .inicial .projetos{
        
      }
        .pg-inicial .inicial .projetos .projeto{

        }
        .pg-inicial .inicial .projetos .projeto a{

        }
          .pg-inicial .inicial .projetos .projeto a figure{

          }
            .pg-inicial .inicial .projetos .projeto a figure img{
              
            }
          .pg-inicial .inicial .projetos .projeto h3{
            
          }
          .pg-inicial .inicial .projetos .projeto p{
            
          }
          .pg-inicial .inicial .projetos .projeto .saiba-mais{
            
          }
      .pg-inicial .inicial .sobre-a-esdras{

      }
        .pg-inicial .inicial .sobre-a-esdras figure{
          margin: 114px auto 160px;
        }
          .pg-inicial .inicial .sobre-a-esdras figure img{

          }
      .pg-inicial .inicial .secao-vantagens{

      }
        .pg-inicial .inicial .secao-vantagens h2{
          text-transform: uppercase;
          font-weight: 800;
          font-size: 45px;
          letter-spacing: 2.5px;
          position: relative;
          margin: 0;
          padding: 47px 0 0;
        }
        .pg-inicial .inicial .secao-vantagens h2::before{
          content: "";
          display: block;
          width: 194px;
          height: 9px;
          position: absolute;
          top: 0;
          left: 0;
          background-color: var(--preto-titulo);
        }
          .pg-inicial .inicial .secao-vantagens span{
            display: block;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 700;
            color: var(--amarelo);
            padding: 26px 0 0;
            letter-spacing: .5px;
          }
        .pg-inicial .inicial .secao-vantagens .vantagens{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        }
          .pg-inicial .inicial .secao-vantagens .vantagens .vantagem{
            width: 100%;
            max-width: 378px;
            list-style: none;
            margin: 97px 0 0;
          }
          .pg-inicial .inicial .secao-vantagens .vantagens .meio{
            width: 100%;
            max-width: 377px;
            margin: 0 auto;
          }
          .pg-inicial .inicial .secao-vantagens .vantagens .ultimo{
            width: 100%;
            max-width: 377px;
            margin: 0 0 0 auto;
          }
            .pg-inicial .inicial .secao-vantagens .vantagens .vantagem img{
              width: 100%;
              padding-left: 11px;
              max-width: 367px;
            }
            .pg-inicial .inicial .secao-vantagens .vantagens .vantagem h3{
              padding: 36px 0 9px;
            }
            .pg-inicial .inicial .secao-vantagens .vantagens .vantagem p{
              /*color: var(--cinza-texto);*/
              /*margin: 0;*/
              /*line-height: 25px;*/
            }
      .pg-inicial .inicial .clientes{
        width: 100%;
        max-width: 100%;
        margin: 205px auto 116px;
      }
        .pg-inicial .inicial .clientes img{
    
        }


/* PÁGINA SOBRE */
  .pg-sobre{

  }
    .pg-sobre .sobre{

    }
      .pg-sobre .sobre .img-sobre{
        width: 100%;
        display: block;
        margin: 186px auto 115px;
      }
        .pg-sobre .sobre .img-sobre img{
          display: block;
          width: 100%;
        }
      .pg-sobre .sobre .img-desde{
        width: 100%;
        max-width: 443px;
        margin: 0 auto;
      }
        .pg-sobre .sobre .img-desde img{
          width: 100%;
          display: block;
          text-align: center;
        }
      .pg-sobre .sobre .conheca{
        width: 100%;
        max-width: 994px;
        margin: 0 auto;
        padding: 103px 0 0;
      }
        .pg-sobre .sobre .conheca h2{
          /*text-transform: uppercase;*/
          /*font-weight: 700;*/
          /*font-size: 17px;*/
          /*letter-spacing: .9px;*/
          /*margin: 0;*/
          margin: 0 0 45px;
        }
        .pg-sobre .sobre .conheca .texto-conheca{

        }
        .pg-sobre .sobre .conheca .left-text{
          margin: 0 29px 0 auto;
        }
        .pg-sobre .sobre .conheca .right-text{
          margin: 0 auto 0 17px;
        }
          .pg-sobre .sobre .conheca .texto p{
            /*margin: 0;*/
            /*line-height: 25px;*/
            /*color: var(--cinza-texto);*/
          }
      .pg-sobre .sobre .img-sobre2{
        width: 100%;
        display: block;
        margin: 102px auto 100px;
      }
        .pg-sobre .sobre .img-sobre2 img{
          width: 100%;
          display: block;
        }
      .pg-sobre .sobre .valores{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 0 100px;
      }
        .pg-sobre .sobre .valores .valor{
          max-width: 378px;
          list-style: none;
        }
          .pg-sobre .sobre .valores .valor h4{
            /*padding: 0;*/
            /*text-transform: uppercase;*/
            /*font-weight: 700;*/
            /*font-size: 17px;*/
            /*letter-spacing: 1px;*/
            /*margin: 0;*/
            padding-bottom: 32px;
          }
          .pg-sobre .sobre .valores .valor p{
            /*display: block;*/
            /*color: var(--cinza-texto);*/
            /*line-height: 25px;*/
          }


/* PÁGINA SERVIÇOS */
.pg-servicos{

}
  .pg-servicos .servicos{

  }
    .pg-servicos .servicos .esdras-obras{
      width: 100%;
      display: block;
      margin: 180px auto 103px;
    }
      .pg-servicos .servicos .esdras-obras img{
        width: 100%;
        display: block;
      }
    .pg-servicos .servicos .secao-vantagens{

    }
      .pg-servicos .servicos .secao-vantagens .titulo{
        width: 100%;
        max-width: 994px;
        margin: 0 auto;
        letter-spacing: .9px;
      }
        .pg-servicos .servicos .secao-vantagens .titulo h6{
          text-transform: uppercase;
          font-weight: 700;
          font-size: 17px;
          margin: 0;
          padding: 0 0 49px;
        }
      .pg-servicos .servicos .secao-vantagens .desc-vantagens{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 50px 0 118px;
      }
        .pg-servicos .servicos .secao-vantagens .desc-vantagens .paragrafo{
          width: 100%;
          max-width: 412px;
          padding: 0 18px;
        }
          .pg-servicos .servicos .secao-vantagens .desc-vantagens .paragrafo .texto{

          }
      .pg-servicos .servicos .secao-vantagens .topicos{

      }
        .pg-servicos .servicos .secao-vantagens .topicos ul{
          width: 100%;
          max-width: 954px;
          margin: 0 0 0 auto;
        }
          .pg-servicos .servicos .secao-vantagens .topicos ul li{
            list-style-position: inside;
            font-weight: 700;
            color: var(--cinza-texto);
            width: 100%;
            max-width: 407px;
            display: inline-block;
            padding: 0px 67px 0 0;
            position: relative;
          }
          .pg-servicos .servicos .secao-vantagens .topicos ul li::before{
            content: "\f111";
            font-family: 'Font Awesome 5 Free';
            display: inline-block;
            position: absolute;
            top: 6px;
            left: -15px;
            width: 10px;
            height: 10px;
            font-size: 4px;
          }
          .pg-servicos .servicos .secao-vantagens .topicos ul .paragrafo{
            list-style: none;
            font-weight: initial;
            margin: 0;
            line-height: 25px;
            padding: 16px 0px 17px;
          }
    .pg-servicos .servicos .img-servicos{
      padding: 85px 0 116px;
    }
      .pg-servicos .servicos .img-servicos img{
        margin: 0 auto;
        display: block;
      }
    .pg-servicos .servicos .video-como{
      border-top: 2px solid #bbb;
      border-bottom: 1px solid #bbb;
      padding: 0 0 115px 0px;
    }
      .pg-servicos .servicos .video-como h4{
        /*text-transform: uppercase;*/
        /*font-weight: 700;*/
        /*font-size: 16px;*/
        /*margin: 0;*/
        padding: 50px 103px 49px;
        /*letter-spacing: 1.5px;*/
      }
      .pg-servicos .servicos .video-como .video{

      }
        .pg-servicos .servicos .video-como .video img{
          display: block;
          width: 100%;
          text-align: center;
          margin: 0 auto;
        }
    .pg-servicos .servicos .entre-emcontato{

    }
      .pg-servicos .servicos .entre-emcontato .contato{
        padding: 80px 0;
      }
        .pg-servicos .servicos .entre-emcontato .contato h2{
          text-transform: uppercase;
          font-weight: 800;
          font-size: 46px;
          margin: 0;
          line-height: 58px;
          letter-spacing: 2px;
        }
        .pg-servicos .servicos .entre-emcontato .contato p{
          color: var(--cinza-texto);
          margin: 0;
        }
        .pg-servicos .servicos .entre-emcontato .contato .email{
          padding: 28px 0 16px;
        }


/* PÁGINA PORTFOLIO */
  .pg-portfolio{

  }
    .pg-portfolio .portfolio{

    }
      .pg-portfolio .portfolio .obras-embreve{

      }
        .pg-portfolio .portfolio .obras-embreve img{

        }


/* PÁGINA DE CONTATO */
  .pg-contato{

  }
    .pg-contato .contato{

    }
      .pg-contato .contato .mapa{

      }
      .pg-contato .contato .entre-emcontato{

      }
        .pg-contato .contato .entre-emcontato .contato-info{

        }
          .pg-contato .contato .entre-emcontato .contato-info h5{

          }
          .pg-contato .contato .entre-emcontato .contato-info p{

          }
            .pg-contato .contato .entre-emcontato .contato-info p span{

            }
            .pg-contato .contato .entre-emcontato .contato-info p span.email{

            }
            .pg-contato .contato .entre-emcontato .contato-info p strong{

            }


/*EXTRAS*/
  .containerFull{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }


/*@MEDIA QUERY*/
  @media(max-width: 1200px){

  }

  @media(max-width: 991px){
  
  }
  @media(max-width: 768px){
  
  }

  @media(max-width: 425px){
  
  }

  @media(max-width: 320px){
  
  }
